@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.font-serif {
  font-family: 'Cinzel', serif;
}
